<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>咬一口廚房</title>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="container">
          <header id="header-home">
            <nav id="main-nav">
              <h1>
                <a href="/admin" class="logo">Just A Bite! 抽獎管理頁面</a>
              </h1>
              <% if (!userId) { %>
              <ul>
                <li><a href="/game">抽獎頁面</a></li>
                <li><a href="/admin" class="active">獎項列表</a></li>
                <li><a href="/login">登入</a></li>
              </ul>
              <% } else { %>
              <ul>
                <li><a href="/game">抽獎頁面</a></li>
                <li><a href="/admin">獎項列表</a></li>
                <li><a href="/items">管理獎項</a></li>
                <li><a href="/product">管理商品</a></li>
                <li><a href="/order-management"  class="active">管理訂單</a></li>
                <li><a href="/admin_faq">管理常見問題</a></li>
                <li><a href="/logout">登出</a></li>
              </ul>
              <% } %>
            </nav>
          </header>

          <section class="item-list table-box center" style="width: 80%">
            <% if (errorMessage.length) { %>
              <div class="message error validation_errors">
                <p><%= errorMessage %></p>
              </div>
            <% }%>
            <form id="search-order" action="/search-order" method="POST">
              <h3>搜尋訂單</h3>
              <p>輸入訂單號碼查尋訂單</p>
              <input name="order_number" type="text">
              <button class="btn-delivery" type="submit">搜尋</button>
              <a href="/clear-result"class="btn-clear">清除搜索結果</a>
            </form>
            <% if( singleOrder && singleOrder.length ) { %>
            <table class="item-table">
              <thead>
                <tr>
                  <th>訂單編號</th>
                  <th>小計</th>
                  <th>總額</th>
                  <th>外送地址</th>
                  <th>聯絡電話</th>
                  <th>訂單狀態</th>
                  <th>更新時間</th>
                </tr>
              </thead>
              <tbody>
                  <% singleOrder.forEach((order,i) => { %>
                  <tr>
                    <td class="order-number"><%= order.order_number %></td>
                    <td><%= order.subtotal %></td>
                    <td><%= order.total %></td>
                    <td><%= order.shipping_address %></td>
                    <td><%= order.phone %></td>
                    <td>
                      <%= order.status %>
                      <% if(order.status === 'paid') { %>
                        <form id="update-order-status<%=i%>" action="/handleUpdateOrderStatus" method="POST"></form>
                        <input type="hidden" name="order_status" form="update-order-status<%=i%>" value="1" />
                        <input type="hidden" name="order_id" form="update-order-status<%=i%>" value="<%= order.id %>" />
                        <button class="btn-delivery" form="update-order-status<%=i%>">外送完成</button>
                      <% } %>
                    </td>
                    <% 
                      const d = new Date(String(order.updatedAt)); 
                    %>
                    <td><%= d.toLocaleString()%></td>
                  </tr>
                  <% }) %>
                <% } %>
              </tbody>
            </table>
            <br>
            <table class="item-table">
              <thead>
                <tr>
                  <th>訂單編號</th>
                  <th>小計</th>
                  <th>總額</th>
                  <th>外送地址</th>
                  <th>聯絡電話</th>
                  <th>訂單狀態</th>
                  <th>更新時間</th>
                </tr>
              </thead>
              <tbody>
                <% if( allOrders != undefined && allOrders.length ) { %>
                  <% allOrders.forEach((order,i) => { %>
                  <tr>
                    <td class="order-number"><%= order.order_number %></td>
                    <td><%= order.subtotal %></td>
                    <td><%= order.total %></td>
                    <td><%= order.shipping_address %></td>
                    <td><%= order.phone %></td>
                    <td>
                      <%= order.status %>
                      <% if(order.status === 'paid') { %>
                        <form id="update-order-status<%=i%>" action="/handleUpdateOrderStatus" method="POST"></form>
                        <input type="hidden" name="order_status" form="update-order-status<%=i%>" value="1" />
                        <input type="hidden" name="order_id" form="update-order-status<%=i%>" value="<%= order.id %>" />
                        <button class="btn-delivery" form="update-order-status<%=i%>">外送完成</button>
                      <% } %>
                    </td>
                    <td><%= order.updatedAt.toLocaleString() %></td>
                  </tr>
                  <% }) %>
                <% } %>
              </tbody>
            </table>
          </section>

          <div class="footer">
            <section id="home-e">
              <ul>
                <li>餐館地址: 天上地下天堂路三分之一里六段520號</li>
                <li>訂位專線：02-1314-5566</li>
                <li>
                  營業時間：週一〜週五 09:00~18:00 /
                  週六、週日、國定假日（含連假）休息
                </li>
                <li>email：service@justabite.com.tw</li>
              </ul>
              <div class="media">
                <div class="logo">Just A Bite!</div>
                <div class="medias">
                  <a href="#">Facebook</a>
                  /
                  <a href="#">Instagram</a>
                  /
                  <a href="#">Youtube</a>
                </div>
              </div>
            </section>

            <footer>
              Copyright © 2020 Just A Bite All Rights Reserved.
              咬一口股份有限公司版權所有
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
